{{!-- <section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section> --}}

{{!-- <section>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section> --}}


<h2>Upload your Plant</h2>

{{!-- Post form with enctype="multipart/form-data" (To send files) --}}
<form action="/add-plant" method="post" enctype="multipart/form-data">

  {{!-- This input to define a req.body.name --}}
  <label>Name</label>
  <input class="form-control" type="text" name="name">
  <br>

  {{!-- This input to define a req.body.description --}}
  <label>Description</label>
  <textarea class="form-control" name="description" rows="5" cols="20"></textarea>
  <br>

  {{!-- This input to define a req.file, because of `uploadCloud.single("photo")` in routes/index.js  --}}

  <label>Poster</label>
  <input class="form-control" type="file" name="photo">
  <br>

  <input type="submit" value="SAVE" class="btn btn-primary">
</form>


<div class="plants-wrapper">
  {{#each plantUsers}}
    <div class="plant-item">
      <img src="{{this.picPath}}" alt="">
      <h4>{{this.name}}</h4>
      <p>{{this.description}}</p>
    </div>
  {{else}}
    <p>There are no Plant yet! :(</p>
  {{/each}}
</div>


{{!-- <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {{#each pictures}}
      <img src="{{ this.path }}" class="card-img" alt="{{ this.originalName }}">
      {{/each}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {{#each pictures}}
        <h5 class="card-title">{{ this.name }}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         {{else}}
         <p>There are no plants yet!</p>
         {{/each}}
      </div>
    </div>
  </div>
</div> --}}
