<div class="container-fluid">
  <h1 class="display-4">Hello, {{user.username}}!</h1>
  <p class="lead">This is your Garden. Here you can manage all of your plants.</p>
  <p>Your email: {{user.email}}</p>
  <a class="btn btn-primary" href="/edit-email/{{user._id}}" role="button">Edit</a>
  <br>
  <p><small class="text-muted">Member since: {{user.created_at}}</small></p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/add-plant" role="button">Add plant</a>
</div>

{{#each plantUsers}}
<div class="card-deck card wrap" style="width: 18rem; display: table">
  <img src="{{ picPath }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">
      {{ description }} <br>
      To water every {{ waterFrequencyInDays }} days
    </p>
  </div>

  <div class="card-body">
    <a href="/edit-plant-user/{{ _id }}" class="card-link">Edit</a>
    <a href="/remove-plant/{{ _id }}" class="card-link">Remove</a>
  </div>
</div>
{{else}}
<p>There are no plants yet!</p>
{{/each}}
