<div class="container-fluid">
  <h2 >Hello, {{user.username}}!<span id="member" style="font-size:12px">Member since: {{formatDate user.created_at}}</span></h1>
  <p class="lead"  style="color:#0e7e4a">This is your Garden. Here you can manage all of your plants.</p>
  <p>Your email: {{user.email}}</p>
  <a class="btn btn-primary" href="/edit-email/{{user._id}}" role="button">Edit email</a>
  <br><br>
  
  <a class="btn btn-primary btn-lg pull-right" href="/add-plant" role="button">Add plant</a>
  <p><small class="text-muted d-inline-block">Member since: {{formatDate user.created_at}}</small></p>
  <hr class="my-4">
  
</div>
      
<div class="card-deck">
{{#each plantUsers}}
  <div class="card" style="min-width: 18rem; max-width: 22rem; margin-bottom:30px">
    <img src="{{ picPath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size:24px">{{ name }}</h5>
      <hr>
      <p class="card-text" style="font-size:14px">{{ description }}</p>
        <hr>
      <p class="card-text" style="font-size:18px; color: #19975d; "><strong>To water every {{ waterFrequencyInDays }} days </strong></p>
      <hr>
      <a href="/edit-plant-user/{{ _id }}" class="card-link" style="color: #19975d; text-center">Edit</a>
      <a href="/remove-plant/{{ _id }}" class="card-link" style="color: #19975d;">Remove</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Created on the {{formatDate created_at}}</small>
    </div>
  </div>
   {{else}}
  <p>There are no plants yet!</p>
  {{/each}}
</div>
