<div class="container-fluid">
  <h2  style="margin-bottom:-2px">Hello, {{user.username}}!</h2>
  <p><small class="text-muted d-inline-block">Member since: {{formatDate user.created_at}}</small></p>
  <p class="lead"  style="color:#0e7e4a">This is your Garden. Here you can manage all of your plants.</p>
  
  <p><a class="btn btn-sm btn-outline-light text-dark " style="font-size: 10px;" href="/edit-email/{{user._id}}" role="button">edit</a><span style="margin-left:13px">{{user.email}}</span></p>
  
<div class="btn-toolbar" style="margin-top:-10px" role="toolbar" aria-label="Toolbar with button groups">
  
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <a class="btn btn-primary btn-sm "  style="margin-top:15px"  href="/add-plant" role="button">Add your own plant</a>
    <a class="btn btn-primary btn-sm  " style="margin-left:8px; margin-top:15px" href="/plants" role="button">Add from our collection</a>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <a class="btn btn-outline-secondary btn-sm float-right" style="margin-top:15px" href="/reminder" role="button">Go to Reminder</a>
  </div>
</div>
  <hr class="my-4">
</div>

 
<div class="card-deck">
{{#each plantUsers}}
  <div class="card" style="min-width: 18rem; max-width: 22rem; margin-bottom:30px">
    <img src="{{ picPath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size:24px">{{ name }}</h5>
      <hr>
      <p class="card-text" style="font-size:15px">{{ description }}</p>
        <hr>
      <p class="card-text float-center" style="font-size:18px; color: #19975d; "><strong>To water {{ waterFrequencyPhrase waterFrequencyInDays }}</strong></p>
      <hr>
      <a href="/edit-plant-user/{{ _id }}" class="card-link float-center" style="color:slategrey ">Edit</a>
      <a href="/remove-plant/{{ _id }}" class="card-link" style="color:slategrey">Remove</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Created on the {{formatDate created_at}}</small>
    </div>
  </div >
   {{else}}
  <p style="margin-left:30px">There are no plants yet!</p>
  {{/each}}
</div>


