<div class="container-fluid">
  <h1 class="display-4">Hello, {{user.username}}!</h1>
  <p class="lead">This is your Garden. Here you can manage all of your plants.</p>
  <p>Your email: {{user.email}}</p>
  <a class="btn btn-primary" href="/edit-email/{{user._id}}" role="button">Edit</a>
  <br>
  <br>
  <p><small class="text-muted">Member since: {{formatDate user.created_at}}</small></p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/add-plant" role="button">Add plant</a>
  <br>
  <br>
</div>

{{!-- {{#each plantUsers}}
<div class="card-deck">
  <div class="card col-sm-4" style="width: 18rem; ">
    <img src="{{ picPath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size:26px">{{ name }}</h5>
      <hr>
      <p class="card-text" style="font-size:15px">{{ description }} </p>
      <hr>
      <p class="card-text" style="font-size:18px; color: #19975d; "><strong>To water every {{ waterFrequencyInDays }} days </strong></p>
      <hr>
    </div>
    <div class="card-body">
      <a href="/edit-plant-user/{{ _id }}" class="card-link" style="color: #19975d; text-center">Edit</a>
      <a href="/remove-plant/{{ _id }}" class="card-link" style="color: #19975d;">Remove</a>
    </div>
  </div>
  {{else}}
  <p>There are no plants yet!</p>
</div>
  {{/each}} --}}
      
<div class="card-deck">
{{#each plantUsers}}
  <div class="card" style="min-width: 18rem; max-width: 22rem;">
    <img src="{{ picPath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  {{/each}}
  {{!-- <div class="card">
    <img src="{{ picPath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="{{ picPath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div> --}}
</div>
