<h2>Reminder <span><a class="btn btn-outline-success btn-md float-right" href="/send-email" role="button">Send reminder</a></span></h2>

<table class="table table-bordered table-responsive{-sm|-md|-lg|-xl}" style="margin-top:30px">
  <thead >
    <tr class="table-success">
      <th  scope="col"><span class="float-right" style="color: #19975d; font-size:14px">every</span></th>
      {{#each days}}
      <th scope="col">{{formatDateTable this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each plantUsers}}
    <tr>
      <th scope="row">{{ name }} | <span class="float-right" style="color: #19975d; font-size:15px">{{waterFrequencyInDays}} days</th>
      {{!-- <td><img src="{{picPath}}" style="max-height: 70px"></td> --}}
      {{#each ../days}}
      <td>{{#shouldWater ../this this}}
        {{!-- ../this is for the current plantUsers and this is for the current days --}}
            <center>💦</center>
        {{else}}
            <center >☓</center>
        {{/shouldWater}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>



