<h2>Reminder <span><a class="btn btn-outline-success btn-md float-right" href="/send-email" role="button">Send reminder</a></span></h2>

<table class="table" style="margin-top:30px">
  <thead>
    <tr>
      <th ><span class="float-right" style="color: #19975d; font-size:14px">every</span></th>
      {{#each days}}
      <th>{{formatDateTable this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each plantUsers}}
    <tr>
      <td>{{ name }} | <span class="float-right" style="color: #19975d; font-size:15px">{{waterFrequencyInDays}} days</td>
      {{!-- <td><img src="{{picPath}}" style="max-height: 70px"></td> --}}
      {{#each ../days}}
      <td>
        {{!-- ../this is for the current plantUsers and this is for the current days --}}
        {{#shouldWater ../this this}}
            <span style="color:white">___</span>💦
        {{else}}
            <span style="color:white">___</span>☓
        {{/shouldWater}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>



