<h1>Reminder</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      {{#each days}}
      <th>{{formatDateTable this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each plantUsers}}
    <tr>
      <td>{{ name }}, {{waterFrequencyInDays}}</td>
      {{!-- <td><img src="{{picPath}}" style="max-height: 70px"></td> --}}
      {{#each ../days}}
      <td>
        {{!-- ../this is for the current plantUsers and this is for the current days --}}
        {{#shouldWater ../this this}}
          💧
        {{else}}
          No
        {{/shouldWater}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/send-email" class="btn-primary">Send Email</a>